/*Body General CSS*/
body{
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #293462;
}

div{
    min-height: 100px;
   overflow: hidden;
}

h2{
    font-family: 'Aboreto', cursive;
    font-size: 3vw;
    color: #66BFBF;
}

h3{
    font-family: 'Lugrasimo', cursive;
    color: #BFA2DB;
    font-size: 1.5vw;
}

h5{
    color:#1A1A40;
    font-weight: 600;
    font-size: 1.8rem;
}

li{
    margin-right:1%;
    font-family: 'DynaPuff', cursive;    
}

p{
    font-size: 1.3vw;
    line-height: 2;
}


/* Navigation Bar */

    /* Large Screen Navigation Bar */
    a.nav-link.nav-largescreen.nav-diffcolor {
        color: #E14D2A;
    }

    .navbar-nav.mr-auto.custom-nav{
        margin-bottom: 3%;
        position: relative;
        margin-right: 3%;
    }


    /* Small Screen Navigation Bar */
    .btn-image-navbar{ 
        width:120%;
    }

    .mobile.navlinks.nav-link.white{
        color:white;
    }

    .mobile.navlinks.nav-link.white:hover{
        color:red;
    }



/* Home Page */
.top-container{
    padding-top: 7%;
    
    background-image:url(media/Screenshot_20220925-154818.jpg);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    position: relative;
    
    
}

.name-box{
    padding-bottom: 23%;
    margin-top: 0;
    padding-top: 0;
}

.name{
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #040303 0%,
     #461111 29%,
     #A13333 67%,
     #B3541E 100%
   );    
   background-size: 200% auto;  
   background-clip: text; 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 12vw;
       font-family: 'Alumni Sans Pinstripe', sans-serif;
   margin-bottom: 1%;
   position: relative;
   font-weight: 700;
        
 }

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.web-dev{
    font-size: 2vw; 
    font-weight: normal;
    margin-top:0.01%;
    font-family: 'Aboreto', cursive;
    color: #2C061F;
    margin-bottom: 0.5%;
    
}    
.web{
    display: inline-block;
    animation: rotation 3s infinite; 
    margin-right:0.5%;
    margin-left: 0.5%;
}
@keyframes rotation{
   0% {transform:rotateY(360deg)}
}  



/* About Section */
.middle-container{
    background-image: url('media/computer-gif.gif'), linear-gradient(30deg,#B2C8DF 50%,#C4D7E0 50%);
    background-repeat: no-repeat;
    background-size: 60% 80%, cover;
    padding-top: 10%;
    background-position: 50% 50%;
    padding-bottom: 3%;
    height: fit-content;
}

.display-photo{
    
    width:25%;
    border-radius: 100%;   
}

.abt-sec{
    width:60%;
    margin: auto;
    font-family: 'Cairo', sans-serif;
    text-align: justify;
    color: black;
    font-size: 2rem;
}

.hello{
    color: #1B2430;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1%;
    font-size:5vw;
    margin-top: 1%;
}


/* Skill Section */
.skills{
    padding-top: 11%;
    background-image: linear-gradient(30deg,#1A1A40 50%,#270082 50%);
    padding-bottom: 5%;
}

.skill-head{
    font-size: 2.1rem;
    font-weight:bold;
}

.card.skills-card{
    text-align: center;
    margin:auto;
    height: 18vw;
    max-width: 250px;
    background: #B2C8DF;
    background: linear-gradient(30deg,#B2C8DF 50%,#C4D7E0 50%);
}

.col-lg-4.col-sm-6.card-cover{
    padding: 0%;
    margin:4% 0 0;
   
}

.card-title.skill-name{
    font-size: 1.5rem;
    margin: auto;
    padding-top: 2%;
    color: #270082;
    
}

.wordpress{
    height:50%;  
    margin: auto;
    padding-top: 5%;
}

.wordpress.cpanel{
    width: 60%;
}

@media screen and (max-width:574px){
    .card.skills-card{
        width:60%;
        max-width:3000px;
        height:16rem;
        
    }
    .card-title.skill-name{
        font-size:2rem;
        padding-top: 3%;
    }
}





/* Project Section */
.projects{
    padding-top: 5%;
    background: rgb(231,206,166);
    background: linear-gradient(30deg,#B2C8DF 50%,#C4D7E0 50%);
}

.project-head{
    font-size: 2.1rem;
    font-weight:bold;
    color: #1A1A40;
}

.car-main{
    margin-top:5%;
}

.carousel-inner.carousel-block{
    width: 60%;
    margin: auto;
}

.d-block.w-100.carousel-image{
    width: 80%;
    aspect-ratio: 9/5;
}

.carousel-caption.d-none.d-md-block.carousel-content{
    position: relative;
    left: 0;
    right: 0;
    padding-top: 4%;
}

.carousel-p{
    color:#2C061F;
    font-size: 1.5rem;
}

.carousel-indicators.car-indi{
    position: relative;
    
}




/* Contact Me Section */
.contact-me{
    padding-top: 3%;
}

.getintouch{
    font-size: 2rem;
}

.git{
    color: #CDF0EA;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;

}

.personal-project{
    font-family: 'Cairo', sans-serif;
    color:#F9F9F9;
    font-size: 0.8rem;
}

.cont{
    color: #CDF0EA;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    
}

.email{
    text-decoration: none;
}

.email:hover{
    color: #F9F9F9;
}

/*Bottom Section*/
.footer-link{
    color: #293462;
}



.contactme-icons{
    height:2rem;
    width:2rem;
    margin:1%;
}

.bot-copy{
    font-size: 1rem; 
    color: white;
}

@media all and (max-width:860px){ 
    .name{
        font-size: 16vw;
        z-index:5;
    }
    .web-dev{
        font-size:5vw;
    }
    .top-container{
        padding-bottom: 12%;
        background-position: 50% 90%;
    }
    .display-photo{
        height: 30%;
        width:25%;
    }
    .hello{
        font-size: 7vw;
    }
    .abt-sec{
        font-size:0.7rem;
        font-weight: 800;   
        }
    h2{
        font-size: 6vw;
    }
    h3{
        font-size: 2.2vw;
    }
    p{
        font-size: 2vw;
    }
}











    





































