@import "tailwindcss";
@import "tw-animate-css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Inter:wght@400&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.font-display {
  font-family: 'Playfair Display', serif;
}

.text-shadow-gold {
  text-shadow: 0 0 15px rgba(255, 215, 0, 0.5), 0 0 30px rgba(255, 165, 0, 0.3);
}

.button-glow {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
  transition: all 0.3s ease;
}

.button-glow:hover {
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.6), 0 0 40px rgba(255, 165, 0, 0.4);
}

.box-glow{
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.3), 0 0 30px rgba(255, 165, 0, 0.2);
  transition: all 0.3s ease;
}
